.about {
    padding: 3rem 12rem 7rem 12rem;
    background: #1A0B2E;
    text-align: center;
    color: #fff;
}
.about-content {
    padding-bottom: 3.1rem;
    border-bottom: 1px solid #412567;
}
.pera-2 {
    padding-top: 1.5rem;
} 
.about-counter {
    padding-top: 4.5rem;
    display: flex;
    justify-content: space-between;
}
.about-items p {
    text-transform: capitalize;
}
