.about {
    padding: 3rem 12rem 7rem 12rem;
    background: #1A0B2E;
    text-align: center;
    color: #fff;
}
.about-content {
    padding-bottom: 3.1rem;
    border-bottom: 1px solid #35116563;
}
.pera-2 {
    padding-top: 1.5rem;
} 
.about-counter {
    padding-top: 4.5rem;
    display: flex;
    justify-content: space-between;
}
.about-items p {
    text-transform: capitalize;
}

/* responsiveness for mobile device */

@media screen and (max-width: 576px){
    .about {
        padding: 2.5rem 1.25rem;
    }
    .about-content {
        padding-bottom: 2rem;
    }
    .pera-2 {
        padding-top: .7rem;
    }
    .about-counter {
        padding-top: 2.5rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}