.footer {
    padding: 6rem 12rem;
    background-image: url("../assets/footer-bg.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    text-align: center;
    justify-content: center;
}
.img-logo {
    width: 35%;
}
.podcast-icons{
    width: 60%;
    margin: 0 auto;
    padding-top: 3rem;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.podcast-icons a {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    color: #fff;
    opacity: 75%;
    line-height: 28px;
    gap: .5rem;
}
.podcast-icons img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}
.footer p{
    padding: 1rem 0 0 0;
}

/* responsiveness for mobile device */

@media screen and (max-width: 576px) {
    .footer {
        padding: 2.5rem 1.25rem 2rem 1.25rem;
    }
    .podcast-icons {
        width: 85%;
        padding-top: 1.5rem ;
        gap: 1rem;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}