

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 1rem; */
    background-color: #1a0b2e;
    border-bottom: 1px solid #412567;
    display: flex;
    padding: 1.5rem 12rem;
}

.logo img {
    width: 85%;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links a {
    font-size: 17px;
    font-weight: 600;
    line-height: 120%;
    text-decoration: none;
    color: aliceblue;
}

.nav-btn {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    padding: 15px 25px;
    border-radius: 1000px;
    background: linear-gradient(230deg,
            #7F00FF,
            #E100FF,
            #FF8A00);

    color: #fff;
    text-decoration: none;
    font-size: 17px;
    font-weight:600;
    transition: all 0.3s ease;
}

.nav-btn:hover {
    transform: translateY(-2px);
    background: linear-gradient(30deg,
            #7F00FF,
            #E100FF,
            #FF8A00);
    border: 1px solid #FF8A00;
}
.menu-btn {
    display: none;
}

/* responsiveness for mobile device */

@media screen and (max-width: 576px) {
    .menu-btn {
        display: block;
    }
}

